body {
    font-family: 'Roboto', sans-serif;
}

.corpo {
    height: 800px;
    width: 600px;
    border: 2px solid rgb(51, 51, 51);
    background-color: rgb(204, 198, 198);
    border-radius: 5px 5px 50px 5px;
    position: relative;
}

.tela {
    width: 540px;
    height: 350px;
    border: 1px solid rgb(51, 51, 51);
    position: absolute;
    top: 40px;
    left: 30px;
    border-radius: 10px;
    background-color: rgb(56, 54, 54);
}

.tela .led {
    width: 85%;
    height: 85%;
    background-color: rgb(4, 141, 4);
    position:relative;
    top: 25px;
    left: 50px;
}

.tela .game {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    bottom: 140px;
    left: 15px;
}

.nome {
    color: rgb(90, 79, 79);
    font-size: 20px;
    position: relative;
    top: 400px;
    left: 30px;
}

.nome .gb { 
    font-size: 30px;
}

.controles {
    position: relative;
    width: 100%;
    top: 550px;
}

.seta-direcional {    
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 80px;
    left: 35px;
}

.seta-direcional div {
    
}

.seta-direcional .horizontal {
    width: 120px;
    height: 45px;
    background-color: rgb(56, 54, 54);
    position: relative;
    top: 50px;
    left: 10px;
}

.seta-direcional .vertical {
    height: 120px;
    width: 45px;
    background-color: rgb(56, 54, 54);
    position: relative;
    left: 50px;
    bottom: 30px;
}

.botoes {
    position: relative;
    bottom: 230px;
    left: 500px;
}

.botoes .botao {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(90, 75, 78);
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    color: white;
}

.botao-b {
    position: relative;
    top: 80px;
    right: 80px;
}

.start-select {
    position: relative;
    top: 400px;
    left: 300px;
}

.start-select .botao {
    height: 15px;
    width: 70px;
    background-color: rgb(155, 146, 146);
    margin: 10px;
    transform: rotate(340deg);
    border-radius: 10px;
}

.start-select .botao .forma {
    position: relative;
}

.start-select .botao.start {
    position: relative;
    top: 25px;
    right: 100px
}

.texto{
    position: relative;
    top: 20px;
    left: 15px;
    font-weight: bold;
}

.speakers {
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.speakers .line {
    height: 10px;
    width: 80px;
    border: 1px solid black;
    background-color: rgb(199, 170, 170);
    border-radius: 10px;
    margin: 5px;
    transform: rotate(45deg);
}

.speakers .line-1 {  }
.speakers .line-2 { 
    position: relative;
    right: 20px;
    bottom: 8px;
 }
.speakers .line-3 { 
    position: relative;
    right: 40px;
    bottom: 14px;
 }